*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

 .buttons button {
    padding: 14px 20px;
    cursor: pointer;
    border-radius: 6px;
    outline: none;
    border: 0;
    font-size: 18px;
    transition: all .7s ease-out;
    box-shadow: 4px 5px 7px rgba(121, 121, 128, 0.23);
}
